{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'property_management' %}" class="{% if request.resolver_match.url_name == 'property_management' %}active{% endif %}">Property Management</a>
        <a href="#" class="active">AMC Management</a>
        <a href="#" class="active">Store Management</a>
        <a href="#"  class="active">Reminder Schedule for Contract</a>
        <a href="#" class="active">Vehicle Management</a>
        
        <a href="{% url 'asset_login' %}" class="{% if request.resolver_match.url_name == 'asset_login' %}active{% endif %}">Asset Management</a>
        
        <a href="#" class="active">Building Maintenance</a>
        <a href="#" class="active">ISO Management</a>
        <a href="#" class="active">House Keeping Management</a>
        <a href="#" class="active">Purchase Management</a>
        <a href="#" class="active">Tax/Building Property</a>
        <a href="#" class="active">Tenant/Contract Management</a>
    </div>     
</body>
</html>
