* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/img/erp_bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
}

.header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.header .logo img {
    max-height: 80px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: aqua;
}

.content {
    padding-top: 100px; /* To avoid content being hidden under the fixed header */
    min-height: calc(100vh - 150px); /* Adjust based on header and footer height */
}

.footer {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

@media (min-width: 1280px) {
    .container-xl {
        max-width: 1140px;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar li {
        white-space: nowrap;
    }

    .navbar a {
        font-size: 20px;
        font-weight: 600;
    }
}
